@font-face {
    font-family: 'New Eridu';
    src: url(/assets/fonts/new-eridu.ttf);
}

* {
    font-size: 16px;
}

html,body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

body {
    font-size: 1rem;
    color: #fff;
    font-family: 'New Eridu', Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url('/assets/images/background-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Layout */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px;
}

.navbar img {
    width: 30px;
    height: auto;
}

.menu-checkbox {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 980px;
    margin: 4em auto;
    padding: 1.25em;
}

.container i {
    font-size: 2rem;
}
.avatar {
    max-width: 180px;
    border-radius: 30px;
    border: 3px solid #fff;
}
.avatar-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}


/* Mobile (default) */

.hamburger-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-btn .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.3s;
}

.menu-checkbox:checked ~ .hamburger-btn .bar-1 {
    transform: translateY(8px) rotate(45deg);
}

.menu-checkbox:checked ~ .hamburger-btn .bar-2 {
    opacity: 0;
}

.menu-checkbox:checked ~ .hamburger-btn .bar-3 {
    transform: translateY(-8px) rotate(-45deg);
}

.menu-links {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    gap: 20px;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 1.5em;
    background-color: #000;
    position: absolute;
    list-style: none;
    opacity: 0;
    
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
}

.menu-links li a {
    color: #c5c5c5;
    text-decoration: none;
}

.menu-links li a:hover {
    color: #fff;
    transition: 0.3s;
}

.menu-links .active,
.menu-links .active:hover {
    color: #178be9;
    text-decoration: underline;
    transition: 0.3s;
}



.menu-checkbox:checked ~ .menu-links {
    transform: translateX(0);
    opacity: 1;
    
}

.hero-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1.5rem;
    align-items: center;
}

.hero-section h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}
.hero-section h5 {
    text-align: center;
    font-size: .75rem;
    margin: 0;
}
.hero-section i {
    text-align: center;
    font-size: .95rem;
    margin: 0;
}
.hero-section button,
.hero-section a {
    width: auto;
    padding: 0.5rem;
    background-color: #008f2b;
    border: 2px transparent;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.hero-section button:hover,
.hero-section a:hover {
    background-color: #ffe600;
    border: 2px transparent;
    color: #000;
}
.name-section h5,
.personal-info h5,
.personal-contact h5 {
    color: #ffffff85;
}

.name-section {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.cat {
    max-width: 120px;
    top: -80px;
    position: absolute;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.personal-contact {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

/* Desktop */

@media (min-width: 768px) {

    .navbar {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .hamburger-btn {
        display: none;
    }

    .menu-links {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;

        transform: none;
        opacity: 1;
    }

    .cat {
        top: -80px;
    }

}